body {
  background-color: #EAF6F6;

}

hr {
  border-color: gray;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 6%;
}

h1 {
  color: #287012;
  text-decoration: underline;
  text-shadow:5px 5px 10px pink;
}

h3{
  color :#E98323 ;
  text-decoration: underline;
  text-shadow: 2px 2px 4px moccasin;
}

a{
  text-decoration: none  ;
  text-shadow: 1px 1px 6px  lightblue;
}

img{
  background-color: black;
}
